n8n/workflows/excel-to-reels.json
{
  "name": "Excel \u2192 Reels (Velo Auto)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        340
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://velo:8000/api/excel-reels/next-pending",
        "options": {
          "timeout": 15000
        }
      },
      "id": "get-next-pending",
      "name": "Get Next Pending Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-pending",
              "leftValue": "={{ $json.destination }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-pending",
      "name": "Has Pending Row?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://velo:8000/api/ad-reels/travel-media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $('Get Next Pending Row').item.json.destination }}\",\n  \"tags\": {{ $('Get Next Pending Row').item.json.tags ? JSON.stringify($('Get Next Pending Row').item.json.tags.split(',').map(t => t.trim()).filter(Boolean)) : '[]' }},\n  \"orientation\": {{ $('Get Next Pending Row').item.json.orientation ? '\"' + $('Get Next Pending Row').item.json.orientation + '\"' : 'null' }},\n  \"download\": false\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "fetch-media",
      "name": "Fetch Travel Media (Groq + Pexels)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst pendingData = $('Get Next Pending Row').first().json;\nconst selectedClips = data.selected_clips || [];\n\nconst MIN_SECS = 17;\nconst MAX_SECS = 28;\nconst BASE_VIDEO_SECS = 3;\nconst BASE_IMAGE_SECS = 2;\n\nconst JAMENDO_TRACKS = [\n  'jamendo/1073214.mp3',\n  'jamendo/1222864.mp3',\n  'jamendo/1224662.mp3',\n  'jamendo/1317626.mp3',\n  'jamendo/14024.mp3',\n  'jamendo/1656722.mp3',\n  'jamendo/168834.mp3',\n  'jamendo/1738418.mp3',\n];\nconst music_track_id = JAMENDO_TRACKS[Math.floor(Math.random() * JAMENDO_TRACKS.length)];\n\nif (selectedClips.length === 0) throw new Error('No selected_clips in travel-media response');\n\nconst picked = selectedClips.map(clip => ({\n  source: 'url',\n  url: clip.url,\n  media_type: clip.type,\n  title: clip.title || '',\n  caption_text: clip.caption_text || '',\n}));\n\nconst videoCount = picked.filter(p => p.media_type === 'video').length;\nconst imageCount = picked.filter(p => p.media_type === 'image').length;\nconst baseDuration = videoCount * BASE_VIDEO_SECS + imageCount * BASE_IMAGE_SECS;\n\nlet clipVideo = BASE_VIDEO_SECS;\nlet clipImage = BASE_IMAGE_SECS;\n\nif (baseDuration < MIN_SECS) {\n  const scale = MIN_SECS / Math.max(baseDuration, 1);\n  clipVideo = Math.round(BASE_VIDEO_SECS * scale * 10) / 10;\n  clipImage = Math.round(BASE_IMAGE_SECS * scale * 10) / 10;\n} else if (baseDuration > MAX_SECS) {\n  const scale = MAX_SECS / baseDuration;\n  clipVideo = Math.round(BASE_VIDEO_SECS * scale * 10) / 10;\n  clipImage = Math.round(BASE_IMAGE_SECS * scale * 10) / 10;\n}\n\nconst estimatedDuration = videoCount * clipVideo + imageCount * clipImage;\n\nreturn [{\n  json: {\n    picked_items: picked,\n    clip_seconds_video: String(clipVideo),\n    clip_seconds_image: String(clipImage),\n    total_items: picked.length,\n    estimated_duration_secs: estimatedDuration,\n    music_track_id: music_track_id,\n    hook_caption: data.user_query || '',\n    row_index: pendingData.row_index,\n    destination: pendingData.destination,\n  }\n}];"
      },
      "id": "pick-media",
      "name": "Pick Best Media Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://velo:8000/api/upload-reel/generate",
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "items_json",
              "value": "={{ JSON.stringify($json.picked_items) }}"
            },
            {
              "name": "transition_type",
              "value": "fade"
            },
            {
              "name": "clip_seconds_image",
              "value": "={{ $json.clip_seconds_image }}"
            },
            {
              "name": "clip_seconds_video",
              "value": "={{ $json.clip_seconds_video }}"
            },
            {
              "name": "music_track_id",
              "value": "={{ $json.music_track_id }}"
            },
            {
              "name": "show_branding",
              "value": "0"
            },
            {
              "name": "hook_caption",
              "value": "={{ $json.hook_caption }}"
            },
            {
              "name": "hook_plain",
              "value": "1"
            },
            {
              "name": "hook_seconds",
              "value": "2"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "generate-reel",
      "name": "Generate Reel (FFmpeg)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://velo:8000/api/excel-reels/mark-done",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"row_index\": {{ $('Pick Best Media Items').item.json.row_index }},\n  \"video_url\": \"{{ $json.video_url || $json.output_path || '' }}\",\n  \"status\": \"done\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "mark-done",
      "name": "Mark Row Done in Excel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const dest = $('Get Next Pending Row').first().json.destination || 'unknown';\nconsole.log(`No pending rows in reels-queue.xlsx. All done or queue is empty.`);\nreturn [{ json: { status: 'no_pending', message: 'Queue is empty \u2014 nothing to process.', destination: dest } }];\n"
      },
      "id": "no-pending",
      "name": "Queue Empty (No-op)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        460
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Next Pending Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Pending Row": {
      "main": [
        [
          {
            "node": "Has Pending Row?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Row?": {
      "main": [
        [
          {
            "node": "Fetch Travel Media (Groq + Pexels)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue Empty (No-op)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Travel Media (Groq + Pexels)": {
      "main": [
        [
          {
            "node": "Pick Best Media Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Best Media Items": {
      "main": [
        [
          {
            "node": "Generate Reel (FFmpeg)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reel (FFmpeg)": {
      "main": [
        [
          {
            "node": "Mark Row Done in Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}