n8n/workflows/velo-to-instagram.json
{
  "name": "Velo → Instagram Reel",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "theme",
              "name": "theme",
              "value": "Hidden beaches in Portugal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "SetTheme",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.VELO_API_URL || 'http://host.docker.internal:8000') + '/api/generate' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ theme: $json.theme, music_track_id: null }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "VeloGenerate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const s = $input.first().json;\nconst outs = s.outputs || {};\nconst c = s.content || {};\nlet base = String($env.MEDIA_PUBLIC_BASE || '');\nwhile (base.endsWith('/')) base = base.slice(0, -1);\nconst reelPath = outs.reel_video_url || '';\nif (!reelPath) {\n  throw new Error('No reel_video_url. Check API response and that reel was built.');\n}\nconst videoUrl = reelPath.startsWith('http') ? reelPath : base + reelPath;\nif (!videoUrl.startsWith('https://')) {\n  throw new Error('Instagram needs HTTPS video_url. Tunnel Velo (ngrok etc.) and set MEDIA_PUBLIC_BASE to https://your-tunnel (see n8n/README.md).');\n}\nconst hook = c.hook || 'Travel inspiration';\nconst destLines = (c.destinations || [])\n  .map((d) => '📍 ' + (d.destination || '') + '\\n' + (d.caption || ''))\n  .join('\\n\\n');\nconst tags = (c.hashtags || [])\n  .map((t) => '#' + String(t).replace(/^#/, ''))\n  .join(' ');\nconst cta = c.cta || '';\nconst caption = [hook, '', destLines, '', tags, '', cta].filter(Boolean).join('\\n').trim();\nconst igId = $env.IG_USER_ID;\nconst token = $env.IG_ACCESS_TOKEN;\nif (!igId || !token) {\n  throw new Error('Set IG_USER_ID and IG_ACCESS_TOKEN (n8n Settings → Variables or Docker env).');\n}\nconst params = new URLSearchParams({\n  media_type: 'REELS',\n  video_url: videoUrl,\n  caption,\n  access_token: token,\n});\nconst createMediaUrl = 'https://graph.facebook.com/v21.0/' + igId + '/media?' + params.toString();\nreturn [{ json: { createMediaUrl, igUserId: igId } }];"
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "BuildReelPublishUrl",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.createMediaUrl }}",
        "options": {}
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "IGCreateContainer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $('BuildReelPublishUrl').first().json.igUserId + '/media_publish?creation_id=' + $json.id + '&access_token=' + encodeURIComponent($env.IG_ACCESS_TOKEN) }}",
        "options": {}
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "IGPublish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 0]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "SetTheme", "type": "main", "index": 0 }]]
    },
    "SetTheme": {
      "main": [[{ "node": "VeloGenerate", "type": "main", "index": 0 }]]
    },
    "VeloGenerate": {
      "main": [[{ "node": "BuildReelPublishUrl", "type": "main", "index": 0 }]]
    },
    "BuildReelPublishUrl": {
      "main": [[{ "node": "IGCreateContainer", "type": "main", "index": 0 }]]
    },
    "IGCreateContainer": {
      "main": [[{ "node": "IGPublish", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": { "templateCredsSetupCompleted": false }
}
